apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: web
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: bashirmali/web:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          # envFrom:
          # - secretRef:
          # name: mssql-conn-auth
          # env:
          # - name: ASPNETCORE_ENVIRONMENT
          # value: "Development"
---
# ClusterIP
apiVersion: v1
kind: Service
metadata:
  name: web-clusterip-svc
  namespace: web
spec:
  selector:
    app: web
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
---
# NodePort
apiVersion: v1
kind: Service
metadata:
  name: web-nodeport-svc
  namespace: web
spec:
  type: NodePort
  selector:
    app: web
  ports:
    - name: tcpsql
      port: 80
      targetPort: 8080
      nodePort: 31601
